# ===========Bootstrap============
# 1. ดาวนโหลด bootstrap จากเว็บไซต์ http://getbootstrap.com/ แล้วแตกไฟล์ zip
# 2. copy โฟลเดอร์ dist มาไว้ในโฟลเดอร์ [project/assets]
# 3. เปลี่ยนชื่อโฟลเดอร์ dist เป็น bootstrap
# ===============================
bootstrap


# ===========Font Awesome============
# 1. ดาวนโหลด Font Awesome จากเว็บไซต์ http://fontawesome.io/ แล้วแตกไฟล์ zip
# 2. copy โฟลเดอร์ font-awesome-x.x.x มาไว้ในโฟลเดอร์ [project/assets]
# 3. เปลี่ยนชื่อโฟลเดอร์ font-awesome-x.x.x เป็น font-awesome
# ===============================
font-awesome


# ===========mPDF============
# 1. ดาวนโหลด mPDF จากเว็บไซต์ https://github.com/mpdf/mpdf/releases แล้วแตกไฟล์ zip ลงในโฟลเดอร์ mPDF
# 2. copy โฟลเดอร์ mPDF มาไว้ในโฟลเดอร์ [project/assets]
# ===============================
mPDF


# ===========bootstrap-datepicker============
# 1. ดาวนโหลด bootstrap-datepicker จากเว็บไซต์ https://uxsolutions.github.io/bootstrap-datepicker แล้วแตกไฟล์ zip ลงในโฟลเดอร์ bootstrap-datepicker
# 2. copy โฟลเดอร์ bootstrap-datepicker มาไว้ในโฟลเดอร์ [project/assets]
# ===============================
bootstrap-datepicker


# ===========lobibox============
# 1. ดาวนโหลด lobibox จากเว็บไซต์ https://lobianijs.com/ แล้วแตกไฟล์ zip
# 2. copy โฟลเดอร์ dist มาไว้ในโฟลเดอร์ [project/assets]
# 3. เปลี่ยนชื่อโฟลเดอร์ dist เป็น lobibox
# ===============================
lobibox
